@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --white: #DAE1E7;
    --red: #BD4B4B;
    --black: #0e1111;
    --soft-black: #171717
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   height: auto;
   
}

html {
   height: 100vh;
   background:#0e1111;
   scroll-behavior: smooth;
  

}
.app {
    height: 100vh;
    scroll-behavior: smooth;
    
}

