@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --white: #DAE1E7;
    --red: #BD4B4B;
    --black: #0e1111;
    --soft-black: #171717
}

* {
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   height: auto;
   
}

html {
   height: 100vh;
   background:#0e1111;
   scroll-behavior: smooth;
  

}
.app {
    height: 100vh;
    scroll-behavior: smooth;
    animation-name:fadein;
    animation-duration: 1s;
}
.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--red);
    margin:0.5em;
  }

  .load-3{
      margin: 0 auto;
      display: flex;
      justify-content: center;
      padding:1em;
  }

  .load-3 p {
      color:var(--white);
      font-weight: bolder;
  }

  .load-3 .line:nth-last-child(1) {
    animation: loadingC 0.6s 0.1s linear infinite;
  }
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 0.6s 0.2s linear infinite;
  }
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 0.6s 0.3s linear infinite;
  }

  @keyframes loadingC {
    0%{
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}