.product_square {
display: flex;
position:relative;
top: 17vh;
width: 95%;
margin: 0 auto;
flex-direction: column;
animation-name:fadein;
animation-duration:0.5s
}

.product_square h1 {
    color:var(--white);
    text-align: center;
    font-size:1.2em;
    margin-top: 1em;
    font-weight:bold;
}

.product_square img {
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.product_square .price {
    color:var(--red);
    margin: 0 auto;
    margin: 1rem;
    font-size:1.5em;
    font-weight: bold;
}

.buy_options {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}


.buy_options button {
    margin:1rem;
    border:1px solid var(--red);
    font-size: 1rem;
    padding:0.5em;
    color:var(--white);
    background-color:var(--red);
    border:none;
    width: 50%;
    cursor: pointer;
}

.info__div .price {
    text-align: center;
}

.description_title {
    color:var(--white);
    font-weight: bold;
    font-size: 1.6em;
    width: 80%;
    margin: 0 auto;
    padding-top:0.5em;
    padding-bottom: 0.5em;
}


.image__div {
   display: flex;
   justify-content: center;
}
.image__div .description__div {
   display: none;
   height: auto;
}

.description__div2 .description_text {
    font-size:1.2em;
    
}

.description_text {
    display: none;
    color:var(--white);
    width: 80%;
    margin: 0 auto;
    padding:0.5rem;
    font-size: 1.5em;
}

.triangle_right {
    color:var(--red);
}

.rotate {
    transform: rotate(90deg);
    
}

.show{
    display:flex;
   
}

.hide {
    display:none;
}

.location {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 7%;
}


.go_back {
    color:var(--red);
    font-weight: bold;
}

 a {
     text-decoration: none;
     color: var(--white);
     display: flex;
     font-weight: bold;
 }



 @media only screen and (min-width: 768px) {

    .image__div img {
        width: 50%;
    }

 }

@media (min-width: 1025px) {
    .product_square {
        width: 95%;
        margin: 0 auto;
        flex-direction: row;
       
    }
    .location {

        position: relative;
        left: 10%;
        width: auto;
        height: 0;
        font-size: 1.2em;
    }

    .go_back {
        width: 30px;
    }
    .info__div {
   
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 80vh;
        justify-content: center;
      
    }

    .buy_options button {
        font-size: 1.5em;
    }

    .buy_options button:hover {
        background:#DAE1E7;
        color:#BD4B4B;
        transition: 0.4s;
    }
    .image__div .description__div {
        display: block;
        width: 80%;
        height: 4vh;
        margin-top:1rem;
        margin-bottom:3rem;
    }


    .description__div2 {
        display:none;
    }
    .description_title{
        font-size:2em;
    }

    .image__div {
       
        width: 50%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }
    .product_square img {
     
        max-width: 90%;
        min-width: 80%;
        min-height: 50%;
    }

    .product_square h1 {
        font-size:2em;
        margin-bottom:1em;
    }

    .product_square .price {
        font-size:2rem;
        margin-bottom: 5rem;
    }

    a {
    font-size: 1.5em;
    font-weight: bold;
}

}