.product_space {
    display:flex;
    width: 100%;
    justify-content: center;
}

.product_box {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    min-width: 75%;
    margin: 1.5em;
    color:var(--white);
    background-color:var(--soft-black);
    transition: 0.2s;
    border-radius: 5px;
}

.product_box h1 {
   font-size: 1em;
   height: 3em;
}
.product_box p {
     text-align: center;
     margin:0.5rem   
     
}

.information h1 {
    text-align: center;
    padding-top:1rem;
}
.information {
    display:flex;
    flex-direction: column;
}
 .information img {
    max-width: 85%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.information p {
    display: flex;
    font-size:1.5rem;
    align-self: center;
    color: var(--red);
    font-weight: bolder;
    font-size:2rem;
}

.product_box:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.buy_section {
    margin:1rem;
    display:flex; 
    flex-direction:column;
    justify-content: space-between;
}

.buy_section button {
    font-size: 1rem;
    padding:10px;
    color:var(--white);
    font-weight:400;
    background-color:var(--black);
    border: 0.5px solid #BD4B4B;
    width: 100%;
    margin-bottom: 0.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartbutton {
   margin-left: 0.2rem;
}

.product_container h2 {
    text-align: center;
    font-size: 1rem;
}


.product_container .mercadopago_image {
width: 10%;
position: relative;
left: 45%;

}



@media (min-width: 992px){
    .product_container .mercadopago_image {
      left:0;
      width: 5%;
      
    }

    img {
        width: 50%;
        height: 90%;
        align-self: center;
    }
   .information {
       flex-direction: column;
   }
   .product_box {
       flex-direction: row;
       font-size: 1.5rem;
       padding:2rem;
       width: 50%;
       height: 30%;
   }


   .product_container {
       width: 80%;
       display:flex;
       flex-direction: column;
       align-self: center;
      
   }
   .buy_section {
       flex-direction:column;
       margin-top:5rem;
    
   }
   .buy_section p {
       font-size:2rem
   }
   .buy_section button {
       font-size: 1.5rem;
       padding: 15px;
       width: 70%;
       margin: 0 auto 1rem;
      
   }
   .buy_section button:hover {
       background-color:#BD4B4B;
       transition: 0.3s;
   }

 
}