.main {
    height: auto;
    background-color: #0e1111;
    
}

html {
    scroll-behavior: smooth;
}


.main .main_title{
    display: flex;
    color:#DAE1E7;
    text-align:center;
    padding-top: 9rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;

}