
.cart_item_box h1, .cart_items_space h1  {
    color:var(--white);
    text-align: center;

}

.cart_items_space {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top:20vh;
    height: auto;
}

.cart_item_box {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    height: 20vh;
    justify-content: space-around;
}

.cart_item_box p {
    
    text-align: center;
    font-size: 1.1em;
}

.cart_item_box h1 {
    font-size:1em;
}

.cart_item_box img {
    width: 70%;
    height: 70%;
}

.image_cart_div {
    justify-content: center;
    width: 50%;
    display: flex;
    align-items:center;
}

.cart_info_div {
    width: 50%;
    flex-direction: column;
    align-self: center;
}

.cart_info_div p {
    margin-top:0.5em;
    color: var(--red);
    font-weight: bold;
}


.qty_selector {
    margin-top:0.5rem;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}


#delete_item {
   position: relative;
   color: var(--red);
   margin: 0 auto;
   cursor: pointer;

}



.qty_selector button, .qty_selector button .showy {
    width: 20%;
    background-color: var(--soft-black);
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    color: var(--red);
    font-weight: bolder;
    font-size: 1em;
    cursor: pointer;
    margin: 0 auto;

}


.qty_selector input {
  width: 20%;
  background-color: var(--soft-black);
  border: none;
  color:var(--red);
  font-weight: bold;
  margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.checkout_box {
    color: var(--white);
    width: 95%;
    margin: 0 auto;
    padding:1.3em;
    display: flex;
    flex-direction: column;

}

.checkout_box h1 {
    margin-bottom:1rem;
}
.checkout_box button {
    width: 50%;
    margin: 0 auto;
    background-color: var(--red);
    color:var(--black);
    border:none;
    padding:0.5em;
    font-weight: bolder;
    font-size: 1em;
    cursor:pointer;
}

.loading {
    font-size:5em;
    color: var(--red)
}





@media only screen and (min-width: 768px) {

    .cart_info_div p, .cart_info_div h1 {
        font-size: 1.3rem;
    }
    .image_cart_div img {
        width: 40%;
    }
}


@media only screen and (min-width: 992px) {


    .image_cart_div img {
        width: 50%;
        height: 100%;
    }

    .checkout_box {
        margin-top: 5%;
    }

    #delete_item {
        width: 150%;
    }
}

@media only screen and (min-width: 1024px){

    .image_cart_div img {
        width: 40%;
        height: 85%;
    }

    .cart_info_div h1, .cart_info_div p {
        font-size: 1.5em;
    }
    
      .qty_selector { 
        width: 50%;
        margin: 0 auto;
     
    }
}

@media only screen and (min-width: 1200px) {
    .image_cart_div img {
        width: 25%;
    }
}